# For the essential for discord bot.
nextcord
asyncio
aiohttp
python-dotenv

# These are for some commands the bot includes.
requests
better_profanity

# These libraries are used in the music commands.
PyNaCl
PyParsing
git+https://github.com/ArikSquad/Nextlink
