# For the essential for discord bot
git+https://github.com/Rapptz/discord.py
asyncio
aiohttp
python-dotenv

# These libraries are for some special commands
requests
better_profanity
mcstatus
psutil
simpcalci
Tabulate
Pillow

# This is for logging
Colorama

# These are for the dashboard
Quart
Quart_discord
git+https://github.com/ArikSquad/discord-ext-ipc

# These libraries are used in the music commands
PyNaCl
Wavelink
