{% extends "dashboard.html" %}
{% block customization %}class="active"{% endblock %}
{% block content %}
<nav>
    <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Customization</span>
    </div>
</nav>

<div class="home-content">
    <div class="overview-boxes">
        <div class="box">
            <div class="right-side">
                <div class="box-topic">Prefix</div>
                <div class="number">{{current_prefix}}</div>
                <div class="indicator"></div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <form method="POST">
            <h3 align="center">Prefix</h3>
            <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    id="prefix"
                    name="prefix"
                    placeholder="Enter a new prefix"
                />
             </div>
             <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}