{% extends "dashboard.html" %}
{% block information %}class="active"{% endblock %}
{% block content %}
<nav>
    <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Information</span>
    </div>
</nav>

<div class="home-content">
    <div class="overview-boxes">
        <div class="box">
            <div class="right-side">
                <div class="box-topic">Guild name</div>
                <div class="number">{{guild_name}}</div>
                <div class="indicator"></div>
            </div>
        </div>
        <div class="box">
            <div class="right-side">
                <div class="box-topic">Prefix</div>
                <div class="number">{{current_prefix}}</div>
                <div class="indicator"></div>
            </div>
        </div>
        <div class="box">
            <div class="right-side">
                <div class="box-topic">Members</div>
                <div class="number">{{guild_member_count}}</div>
                <div class="indicator"></div>
            </div>
        </div>
    </div>

    <div class="sales-boxes">
        <div class="recent-sales box">
            <div class="title">Recent Interactions</div>
            <div class="sales-details">
                <ul class="details">
                    <li class="topic">Date</li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                </ul>
                <ul class="details">
                    <li class="topic">Interaction</li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                </ul>
                <ul class="details">
                    <li class="topic">User</li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                    <li><a href="#">none</a></li>
                </ul>
            </div>
        </div>
        <div class="top-sales box">
            <div class="title">Coming soon</div>
            <ul class="top-sales-details">
                <li>
                    <a href="#">
                        <span class="product"><!--first line--></span>
                    </a>
                    <span class="price"><!--second line--></span>
                </li>
            </ul>
            <!-- Script to see the leaderboard, first need to make leaderboard guild spesific
            <ul class="top-sales-details">
                {% for item in leaderboard %}
                <li>
                    <a href="#">
                        <span class="product">{{ name(item[0]) }}</span>
                    </a>
                    <span class="price">{{item[1]}}</span>
                </li>
                {% endfor %}
            </ul>
            -->
        </div>
    </div>
</div>
{% endblock %}