<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/universal.css"/>
    <title>EnSave - Dashboard</title>
</head>
<body>
    <h1>EnSave Dashboard!</h1>

    <h4>We are taking care of {{guild_count}} guilds</h4>
    
    <div class="picker">
        <h3>Hello, {{username}}! Please select a server to get started</h3>
        <hr/>
        <section class="cards">
            {% for guild in guilds %}
            <div class="card">
                <a href="/dashboard/{{guild.id}}">
                    {% if guild.icon_url is not none %}
                        <img src="{{guild.icon_url}}" class="{{guild.class_color}}"/>
                    {% else %}
                        <img
                                src="static/discord.png"
                                class="{{guild.class_color}}"
                        />
                    {% endif %}
                </a>
                <br/>
                {{ guild.name }}
            </div>
            {% endfor %}
        </section>
    </div>
</body>
</html>